*,
html {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #4c77cc;
}

h1 {
    font-size: 144px;
}

p {
    font-size: 30px;
}

input {
    width: 300px;
    height: 102px;
    border-radius: 3px;
    font-size: 20px;
}

#send {
    border-radius: 30px;
    width: 102px;
    height: 47px;
    background-color: chocolate;
    font-size: 47;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}

#chat {
    background-color: gold;
    color: blue;
}